
#external {
	color: yellow;
}
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}
h1 {
	font-size: 3rem;
}

#bootcamp {
	text-transform: uppercase;
	
}
.languages {
	background-color: lightgreen;

}
.tools {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

img + ul {
	list-style-type: none;
	position: relative;
	left: 1%;
}
h4 + img {
	height: 150px;
	width: 150px;
	border-radius: 150px;
}


ul ~ p {
	text-align: center;
	color: black;
}
